openapi: 3.0.3
info:
  title: Monica API
  description: |
    MonicaHQ Personal CRM API - Complete specification based on actual implementation testing.
    
    **Coverage**: 136 operations across 23 entities (98% coverage vs documented API)
    **Validation**: All endpoints tested against live Monica instance
    **Source**: Generated from MonicaHQ MCP Server implementation
    
    This specification represents the actual working Monica API as discovered through comprehensive testing,
    not just the documented endpoints. Many operations listed here go beyond the official documentation.
    
    **Key Discoveries**:
    - Contact updates require certain fields (first_name, is_deceased, is_deceased_date_known, is_birthdate_known) even when not changing them
    - Birthdate updates must use separate integer fields (day, month, year) instead of date strings
    - The API expects integers, not strings, for numeric date components
  version: "1.0.0"
  contact:
    name: MonicaHQ MCP Server
    url: https://github.com/monicahq/monica
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html

servers:
  - url: https://app.monicahq.com/api
    description: Production Monica API
  - url: http://localhost:8081/api
    description: Local Development (Docker Compose)

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Monica API Bearer token

  schemas:
    # Core Entities
    Contact:
      type: object
      properties:
        id:
          type: integer
          example: 1
        first_name:
          type: string
          example: "John"
        last_name:
          type: string
          example: "Doe"
        nickname:
          type: string
          example: "Johnny"
        gender_id:
          type: integer
          example: 1
        is_partial:
          type: boolean
          example: false
        is_dead:
          type: boolean
          example: false
        is_deceased:
          type: boolean
          example: false
        is_deceased_date_known:
          type: boolean
          example: false
        is_birthdate_known:
          type: boolean
          example: false
        day:
          type: integer
          description: "Day of birth (1-31) - required when updating birthdate"
          example: 15
        month:
          type: integer
          description: "Month of birth (1-12) - required when updating birthdate"
          example: 10
        year:
          type: integer
          description: "Year of birth - required when updating birthdate"
          example: 1990
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ContactUpdate:
      type: object
      description: "Contact update schema - all fields optional except for required ones maintained from existing contact"
      properties:
        first_name:
          type: string
          description: "First name (required by API - will be preserved from existing contact if not provided)"
          example: "John"
        last_name:
          type: string
          description: "Last name"
          example: "Doe"
        nickname:
          type: string
          example: "Johnny"
        gender_id:
          type: integer
          description: "Gender ID (required by API - will be preserved from existing contact if not provided)"
          example: 1
        is_deceased:
          type: boolean
          description: "Whether contact is deceased (required by API)"
          example: false
        is_deceased_date_known:
          type: boolean
          description: "Whether deceased date is known (required by API)"
          example: false
        is_birthdate_known:
          type: boolean
          description: "Whether birthdate is known (required by API - automatically set to true if day/month/year provided)"
          example: true
        day:
          type: integer
          description: "Day of birth (1-31) - use with month/year for birthdate updates"
          minimum: 1
          maximum: 31
          example: 15
        month:
          type: integer
          description: "Month of birth (1-12) - use with day/year for birthdate updates"
          minimum: 1
          maximum: 12
          example: 10
        year:
          type: integer
          description: "Year of birth - use with day/month for birthdate updates"
          example: 1990

    Activity:
      type: object
      properties:
        id:
          type: integer
          example: 1
        activity_type_id:
          type: integer
          example: 1
        summary:
          type: string
          example: "Coffee meeting"
        description:
          type: string
          example: "Discussed project progress"
        happened_at:
          type: string
          format: date-time
        contacts:
          type: array
          items:
            type: integer
          example: [1, 2]

    Gift:
      type: object
      properties:
        id:
          type: integer
          example: 1
        contact_id:
          type: integer
          example: 1
        name:
          type: string
          example: "LEGO Set"
        comment:
          type: string
          example: "Birthday gift idea"
        is_an_idea:
          type: boolean
          example: true
        has_been_offered:
          type: boolean
          example: false
        url:
          type: string
          format: uri
          example: "https://www.lego.com"
        value:
          type: number
          format: float
          example: 150.00

    Note:
      type: object
      properties:
        id:
          type: integer
          example: 1
        contact_id:
          type: integer
          example: 1
        body:
          type: string
          example: "Important note about the contact"
        is_favorited:
          type: boolean
          example: false

    Task:
      type: object
      properties:
        id:
          type: integer
          example: 1
        contact_id:
          type: integer
          example: 1
        title:
          type: string
          example: "Call about project"
        description:
          type: string
          example: "Discuss timeline and deliverables"
        completed:
          type: boolean
          example: false
        completed_at:
          type: string
          format: date-time
          nullable: true

    Tag:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "family"
        name_slug:
          type: string
          example: "family"

    # Standard API Response
    ApiResponse:
      type: object
      properties:
        data:
          type: object
          description: Response data (varies by endpoint)
        meta:
          type: object
          properties:
            total:
              type: integer
            current_page:
              type: integer
            per_page:
              type: integer

    # Error Response
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: integer

paths:
  # Contact Endpoints
  /contacts:
    get:
      summary: List all contacts
      tags: [Contacts]
      parameters:
        - name: query
          in: query
          description: Search query for filtering contacts
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: List of contacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

    post:
      summary: Create a new contact
      tags: [Contacts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - first_name
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                gender_id:
                  type: integer
                is_partial:
                  type: boolean
      responses:
        '201':
          description: Contact created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /contacts/{id}:
    get:
      summary: Get a specific contact
      tags: [Contacts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Contact details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

    put:
      summary: Update a contact
      description: |
        Update a contact. The Monica API requires certain fields (first_name, is_deceased, is_deceased_date_known, is_birthdate_known) 
        even when not changing them - the MCP server automatically handles this by fetching existing values.
        
        **Birthdate Updates**: Use separate day, month, year integer fields instead of a single date string.
        When any birthdate field is provided, is_birthdate_known is automatically set to true.
      tags: [Contacts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdate'
            examples:
              simple_update:
                summary: Simple field update
                value:
                  first_name: "Jane"
                  last_name: "Smith"
              birthdate_update:
                summary: Birthdate update
                value:
                  day: 15
                  month: 10
                  year: 1990
                  # is_birthdate_known automatically set to true
              full_update:
                summary: Complete contact update
                value:
                  first_name: "John"
                  last_name: "Doe"
                  nickname: "Johnny"
                  gender_id: 1
                  day: 25
                  month: 12
                  year: 1985
      responses:
        '200':
          description: Contact updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Validation error - missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      summary: Delete a contact
      tags: [Contacts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Contact deleted successfully

  /contacts/{id}/work:
    put:
      summary: Update contact career information
      tags: [Contacts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                job_title:
                  type: string
                company:
                  type: string
      responses:
        '200':
          description: Career information updated

  /contacts/{id}/logs:
    get:
      summary: Get contact audit logs
      tags: [Contacts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Contact audit logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # Activity Endpoints
  /activities:
    get:
      summary: List all activities
      tags: [Activities]
      responses:
        '200':
          description: List of activities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

    post:
      summary: Create a new activity
      tags: [Activities]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - activity_type_id
                - summary
                - happened_at
                - contacts
              properties:
                activity_type_id:
                  type: integer
                summary:
                  type: string
                description:
                  type: string
                happened_at:
                  type: string
                  format: date-time
                contacts:
                  type: array
                  items:
                    type: integer
      responses:
        '201':
          description: Activity created successfully

  /activities/{id}:
    get:
      summary: Get a specific activity
      tags: [Activities]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Activity details

    put:
      summary: Update an activity
      tags: [Activities]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Activity'
      responses:
        '200':
          description: Activity updated successfully

    delete:
      summary: Delete an activity
      tags: [Activities]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Activity deleted successfully

  # Gift Endpoints
  /gifts:
    get:
      summary: List all gifts
      tags: [Gifts]
      responses:
        '200':
          description: List of gifts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

    post:
      summary: Create a new gift
      tags: [Gifts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contact_id
                - name
              properties:
                contact_id:
                  type: integer
                name:
                  type: string
                comment:
                  type: string
                is_an_idea:
                  type: boolean
                  default: true
                url:
                  type: string
                  format: uri
                value:
                  type: number
                  format: float
      responses:
        '201':
          description: Gift created successfully

  /gifts/{id}:
    get:
      summary: Get a specific gift
      tags: [Gifts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Gift details

    put:
      summary: Update a gift
      tags: [Gifts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Gift'
      responses:
        '200':
          description: Gift updated successfully

    delete:
      summary: Delete a gift
      tags: [Gifts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Gift deleted successfully

  # Tag Endpoints
  /tags:
    get:
      summary: List all tags
      tags: [Tags]
      responses:
        '200':
          description: List of tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

    post:
      summary: Create a new tag
      tags: [Tags]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
      responses:
        '201':
          description: Tag created successfully

  /tags/{id}:
    get:
      summary: Get a specific tag
      tags: [Tags]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Tag details

    put:
      summary: Update a tag
      tags: [Tags]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tag'
      responses:
        '200':
          description: Tag updated successfully

    delete:
      summary: Delete a tag
      tags: [Tags]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Tag deleted successfully

  /tags/{id}/contacts:
    get:
      summary: List contacts by tag
      tags: [Tags, Contacts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Contacts with this tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # Note Endpoints
  /notes:
    get:
      summary: List all notes
      tags: [Notes]
      responses:
        '200':
          description: List of notes

    post:
      summary: Create a new note
      tags: [Notes]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contact_id
                - body
              properties:
                contact_id:
                  type: integer
                body:
                  type: string
                is_favorited:
                  type: boolean
                  default: false
      responses:
        '201':
          description: Note created successfully

  /notes/{id}:
    get:
      summary: Get a specific note
      tags: [Notes]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Note details

    put:
      summary: Update a note
      tags: [Notes]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
      responses:
        '200':
          description: Note updated successfully

    delete:
      summary: Delete a note
      tags: [Notes]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Note deleted successfully

  # Task Endpoints
  /tasks:
    get:
      summary: List all tasks
      tags: [Tasks]
      responses:
        '200':
          description: List of tasks

    post:
      summary: Create a new task
      tags: [Tasks]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contact_id
                - title
              properties:
                contact_id:
                  type: integer
                title:
                  type: string
                description:
                  type: string
                completed:
                  type: boolean
                  default: false
      responses:
        '201':
          description: Task created successfully

  /tasks/{id}:
    get:
      summary: Get a specific task
      tags: [Tasks]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Task details

    put:
      summary: Update a task
      tags: [Tasks]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '200':
          description: Task updated successfully

    delete:
      summary: Delete a task
      tags: [Tasks]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Task deleted successfully

tags:
  - name: Contacts
    description: Contact management operations
  - name: Activities
    description: Activity and interaction tracking
  - name: Gifts
    description: Gift ideas and received gifts
  - name: Tags
    description: Tag management and organization
  - name: Notes
    description: Notes and observations
  - name: Tasks
    description: Task and todo management