openapi: 3.0.3
info:
  title: Monica API
  description: |
    MonicaHQ Personal CRM API - Complete specification based on actual implementation testing.

    **Coverage**: 136 operations across 23 entities (98% coverage vs documented API)
    **Validation**: All endpoints tested against live Monica instance
    **Source**: Generated from MonicaHQ MCP Server implementation

    This specification represents the actual working Monica API as discovered through comprehensive testing,
    not just the documented endpoints. Many operations listed here go beyond the official documentation.
  version: 1.0.0
  contact:
    name: MonicaHQ MCP Server
    url: https://github.com/monicahq/monica
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html
servers:
  - url: https://app.monicahq.com/api
    description: Monica Cloud (monicahq.com)
  - url: https://your-instance.example.com/api
    description: Self-hosted Monica instance
  - url: http://localhost:8081/api
    description: Local Development (Docker Compose)
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Monica API Bearer token
  schemas:
    Contact:
      type: object
      properties:
        id:
          type: integer
          example: 3011
        uuid:
          type: string
          example: fdc2e91b-cf37-48b1-8b98-edc54e8184d6
        object:
          type: string
          example: contact
        hash_id:
          type: string
          example: h:LWZb9rX7ek0Y6wMa7O
        first_name:
          type: string
          example: James
        last_name:
          type: string
          example: Doe
        nickname:
          type: string
          nullable: true
          example: Jim
        complete_name:
          type: string
          example: John Michael Doe (Johnny)
        initials:
          type: string
          example: JMB
        description:
          type: string
          nullable: true
        gender:
          type: string
          example: Man
        gender_type:
          type: string
          example: M
        is_starred:
          type: boolean
          example: false
        is_partial:
          type: boolean
          example: false
        is_active:
          type: boolean
          example: true
        is_dead:
          type: boolean
          example: false
        is_me:
          type: boolean
          example: false
        last_called:
          type: string
          nullable: true
          format: date-time
        last_activity_together:
          type: string
          nullable: true
          format: date-time
        stay_in_touch_frequency:
          type: integer
          nullable: true
        stay_in_touch_trigger_date:
          type: string
          nullable: true
          format: date-time
        information:
          $ref: '#/components/schemas/ContactInformation'
        addresses:
          type: array
          items:
            type: object
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        statistics:
          $ref: '#/components/schemas/ContactStatistics'
        url:
          type: string
          example: https://monica.example.com/api/contacts/3011
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ContactInformation:
      type: object
      properties:
        relationships:
          type: object
          additionalProperties:
            type: object
            properties:
              total:
                type: integer
              contacts:
                type: array
                items:
                  type: object
        dates:
          $ref: '#/components/schemas/ContactDates'
        career:
          $ref: '#/components/schemas/CareerInfo'
        avatar:
          $ref: '#/components/schemas/AvatarInfo'
        food_preferences:
          type: string
          nullable: true
        how_you_met:
          type: object
          nullable: true
    ContactDates:
      type: object
      properties:
        birthdate:
          $ref: '#/components/schemas/DateInfo'
        deceased_date:
          $ref: '#/components/schemas/DateInfo'
    DateInfo:
      type: object
      properties:
        is_age_based:
          type: boolean
          nullable: true
          example: false
        is_year_unknown:
          type: boolean
          nullable: true
          example: false
        date:
          type: string
          nullable: true
          format: date-time
          example: 1976-01-12T00:00:00Z
    CareerInfo:
      type: object
      properties:
        job:
          type: string
          nullable: true
          example: Vice President of Engineering
        company:
          type: string
          nullable: true
          example: CVS
    AvatarInfo:
      type: object
      properties:
        url:
          type: string
          example: https://monica.example.com/store/avatars/avatar.jpg
        source:
          type: string
          example: default
        default_avatar_color:
          type: string
          example: '#fdb660'
    User:
      type: object
      description: A user of the Monica application with account access
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        uuid:
          type: string
          format: uuid
          readOnly: true
        first_name:
          type: string
          example: James
        last_name:
          type: string
          example: Doe
        email:
          type: string
          format: email
          example: james@example.com
        timezone:
          type: string
          example: America/New_York
        locale:
          type: string
          example: en
        currency:
          $ref: '#/components/schemas/Currency'
        fluid_container:
          type: boolean
          example: false
        temperature_scale:
          type: string
          enum:
            - fahrenheit
            - celsius
          example: fahrenheit
        name_order:
          type: string
          enum:
            - firstname_lastname
            - lastname_firstname
            - firstname_lastname_nickname
            - firstname_nickname_lastname
            - lastname_firstname_nickname
            - lastname_nickname_firstname
            - nickname_firstname_lastname
            - nickname_lastname_firstname
            - nickname_bracketed_firstname_lastname
            - nickname
          example: firstname_lastname
        admin:
          type: boolean
          example: false
        me:
          $ref: '#/components/schemas/Contact'
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Currency:
      type: object
      description: A supported currency for the account
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        iso:
          type: string
          maxLength: 3
          example: USD
        name:
          type: string
          example: US Dollar
        symbol:
          type: string
          example: $
    Reminder:
      type: object
      description: A reminder associated with a contact
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        uuid:
          type: string
          format: uuid
          readOnly: true
        contact_id:
          type: integer
          example: 123
        initial_date:
          type: string
          format: date
          example: 2025-01-15
        title:
          type: string
          example: Call about project
        description:
          type: string
          nullable: true
          example: Discuss timeline and deliverables
        frequency_type:
          type: string
          enum:
            - one_time
            - week
            - month
            - year
          example: year
        frequency_number:
          type: integer
          minimum: 1
          example: 1
        is_birthday:
          type: boolean
          example: false
        delible:
          type: boolean
          example: true
        inactive:
          type: boolean
          example: false
        contact:
          $ref: '#/components/schemas/Contact'
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Call:
      type: object
      description: A phone call record with a contact
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        uuid:
          type: string
          format: uuid
          readOnly: true
        contact_id:
          type: integer
          example: 123
        called_at:
          type: string
          format: date-time
          example: 2025-01-15T14:30:00Z
        content:
          type: string
          nullable: true
          example: Discussed the upcoming project
        contact_called:
          type: boolean
          description: True if the contact initiated the call, false if you called them
          example: true
        emotions:
          type: array
          items:
            $ref: '#/components/schemas/Emotion'
        contact:
          $ref: '#/components/schemas/Contact'
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Emotion:
      type: object
      description: An emotion that can be associated with activities or calls
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: happy
        primary:
          type: boolean
          example: true
    Debt:
      type: object
      description: A debt owed to or by a contact
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        uuid:
          type: string
          format: uuid
          readOnly: true
        contact_id:
          type: integer
          example: 123
        in_debt:
          type: string
          enum:
            - yes
            - no
          description: "'yes' if contact owes you, 'no' if you owe contact"
          example: yes
        status:
          type: string
          enum:
            - inprogress
            - complete
          example: inprogress
        amount:
          type: number
          format: float
          example: 150
        currency_id:
          type: integer
          example: 1
        currency:
          $ref: '#/components/schemas/Currency'
        reason:
          type: string
          nullable: true
          example: Lunch at conference
        contact:
          $ref: '#/components/schemas/Contact'
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Address:
      type: object
      description: A physical address associated with a contact
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        uuid:
          type: string
          format: uuid
          readOnly: true
        contact_id:
          type: integer
          example: 123
        name:
          type: string
          nullable: true
          example: Home
        place_id:
          type: integer
          nullable: true
        place:
          $ref: '#/components/schemas/Place'
        labels:
          type: array
          items:
            $ref: '#/components/schemas/ContactFieldLabel'
        contact:
          $ref: '#/components/schemas/Contact'
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Place:
      type: object
      description: A geographic location with address details
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        street:
          type: string
          nullable: true
          example: 123 Main Street
        city:
          type: string
          nullable: true
          example: New York
        province:
          type: string
          nullable: true
          example: NY
        postal_code:
          type: string
          nullable: true
          example: '10001'
        country:
          type: string
          nullable: true
          example: USA
        latitude:
          type: number
          format: float
          nullable: true
          example: 40.7128
        longitude:
          type: number
          format: float
          nullable: true
          example: -74.006
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ContactField:
      type: object
      description: A custom contact field (email, phone, social media, etc.)
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        uuid:
          type: string
          format: uuid
          readOnly: true
        contact_id:
          type: integer
          example: 123
        contact_field_type_id:
          type: integer
          example: 1
        contact_field_type:
          $ref: '#/components/schemas/ContactFieldType'
        data:
          type: string
          example: john@example.com
        labels:
          type: array
          items:
            $ref: '#/components/schemas/ContactFieldLabel'
        contact:
          $ref: '#/components/schemas/Contact'
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ContactFieldLabel:
      type: object
      description: A label for categorizing contact fields (e.g., "Work", "Home")
      properties:
        id:
          type: integer
          example: 1
        label_i18n:
          type: string
          example: work
        label:
          type: string
          example: Work
    Pet:
      type: object
      description: A pet associated with a contact
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        uuid:
          type: string
          format: uuid
          readOnly: true
        contact_id:
          type: integer
          example: 123
        pet_category_id:
          type: integer
          example: 1
        pet_category:
          $ref: '#/components/schemas/PetCategory'
        name:
          type: string
          nullable: true
          example: Buddy
        contact:
          $ref: '#/components/schemas/Contact'
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PetCategory:
      type: object
      description: A category of pet (e.g., dog, cat)
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Dog
        is_common:
          type: boolean
          example: true
    Relationship:
      type: object
      description: A relationship between two contacts
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        uuid:
          type: string
          format: uuid
          readOnly: true
        contact_is:
          type: integer
          description: The ID of the first contact in the relationship
          example: 123
        of_contact:
          type: integer
          description: The ID of the second contact in the relationship
          example: 456
        relationship_type_id:
          type: integer
          example: 1
        relationship_type:
          $ref: '#/components/schemas/RelationshipType'
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    RelationshipType:
      type: object
      description: The type of relationship (e.g., spouse, sibling, friend)
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: spouse
        name_reverse_relationship:
          type: string
          example: spouse
        relationship_type_group_id:
          type: integer
          example: 1
        delible:
          type: boolean
          example: false
    RelationshipTypeGroup:
      type: object
      description: A group of related relationship types (e.g., family, love, friend)
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: love
        delible:
          type: boolean
          example: false
        relationship_types:
          type: array
          items:
            $ref: '#/components/schemas/RelationshipType'
    Entry:
      type: object
      description: A journal entry
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        uuid:
          type: string
          format: uuid
          readOnly: true
        title:
          type: string
          example: Thoughts on the day
        post:
          type: string
          example: Today was a productive day...
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    LifeEvent:
      type: object
      description: A significant life event for a contact
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        uuid:
          type: string
          format: uuid
          readOnly: true
        contact_id:
          type: integer
          example: 123
        life_event_type_id:
          type: integer
          example: 1
        life_event_type:
          $ref: '#/components/schemas/LifeEventType'
        name:
          type: string
          example: Graduated from college
        note:
          type: string
          nullable: true
          example: Graduated with honors
        happened_at:
          type: string
          format: date
          example: 2024-05-15
        happened_at_month_unknown:
          type: boolean
          example: false
        happened_at_day_unknown:
          type: boolean
          example: false
        reminder_id:
          type: integer
          nullable: true
        contact:
          $ref: '#/components/schemas/Contact'
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    LifeEventType:
      type: object
      description: A type of life event (e.g., graduation, wedding)
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: graduation
        life_event_category_id:
          type: integer
          example: 1
        default_life_event_type_key:
          type: string
          nullable: true
    LifeEventCategory:
      type: object
      description: A category of life events (e.g., education, family)
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: education
        default_life_event_category_key:
          type: string
          nullable: true
        life_event_types:
          type: array
          items:
            $ref: '#/components/schemas/LifeEventType'
    Document:
      type: object
      description: A document file associated with a contact
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        uuid:
          type: string
          format: uuid
          readOnly: true
        contact_id:
          type: integer
          example: 123
        original_filename:
          type: string
          example: contract.pdf
        new_filename:
          type: string
          example: abc123.pdf
        filesize:
          type: integer
          description: File size in bytes
          example: 102400
        type:
          type: string
          example: pdf
        mime_type:
          type: string
          example: application/pdf
        number_of_downloads:
          type: integer
          example: 5
        download_link:
          type: string
          format: uri
        contact:
          $ref: '#/components/schemas/Contact'
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Photo:
      type: object
      description: A photo associated with a contact
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        uuid:
          type: string
          format: uuid
          readOnly: true
        original_filename:
          type: string
          example: photo.jpg
        new_filename:
          type: string
          example: abc123.jpg
        filesize:
          type: integer
          description: File size in bytes
          example: 204800
        mime_type:
          type: string
          example: image/jpeg
        link:
          type: string
          format: uri
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Company:
      type: object
      description: A company or organization
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        name:
          type: string
          example: Acme Corporation
        website:
          type: string
          format: uri
          nullable: true
          example: https://acme.example.com
        number_of_employees:
          type: integer
          nullable: true
          example: 500
        occupations:
          type: array
          items:
            $ref: '#/components/schemas/Occupation'
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Occupation:
      type: object
      description: An occupation or job position for a contact
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        contact_id:
          type: integer
          example: 123
        company_id:
          type: integer
          example: 1
        company:
          $ref: '#/components/schemas/Company'
        title:
          type: string
          example: Software Engineer
        description:
          type: string
          nullable: true
          example: Full-stack development
        salary:
          type: number
          format: float
          nullable: true
          example: 85000
        salary_unit:
          type: string
          enum:
            - year
            - month
            - week
            - day
            - hour
          nullable: true
          example: year
        currently_works_here:
          type: boolean
          example: true
        start_date:
          type: string
          format: date
          nullable: true
          example: 2020-01-15
        end_date:
          type: string
          format: date
          nullable: true
          example: null
        contact:
          $ref: '#/components/schemas/Contact'
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ActivityType:
      type: object
      description: A type of activity (e.g., lunch, meeting)
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        name:
          type: string
          example: had lunch with
        translation_key:
          type: string
          nullable: true
          example: activity_type_lunch
        activity_type_category_id:
          type: integer
          example: 1
        activity_type_category:
          $ref: '#/components/schemas/ActivityTypeCategory'
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ActivityTypeCategory:
      type: object
      description: A category of activity types (e.g., simple activities, sport)
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        name:
          type: string
          example: simple_activities
        translation_key:
          type: string
          nullable: true
          example: activity_type_category_simple_activities
        activity_types:
          type: array
          items:
            $ref: '#/components/schemas/ActivityType'
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AuditLog:
      type: object
      description: An audit log entry tracking changes
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        action:
          type: string
          example: contact_created
        objects:
          type: object
          additionalProperties: true
        author_id:
          type: integer
          nullable: true
        author_name:
          type: string
          nullable: true
        audited_at:
          type: string
          format: date-time
        about_contact_id:
          type: integer
          nullable: true
        about_contact:
          $ref: '#/components/schemas/Contact'
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Compliance:
      type: object
      description: A compliance policy (GDPR, etc.)
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Privacy Policy
        privacy_policy:
          type: string
          example: Our privacy policy...
    Country:
      type: object
      description: A country for address lookup
      properties:
        id:
          type: integer
          example: 1
        iso:
          type: string
          maxLength: 3
          example: USA
        name:
          type: string
          example: United States
    Statistics:
      type: object
      description: Public API statistics
      properties:
        number_of_contacts:
          type: integer
          example: 12500
        number_of_users:
          type: integer
          example: 500
        number_of_activities:
          type: integer
          example: 45000
        number_of_reminders:
          type: integer
          example: 8000
    ContactStatistics:
      type: object
      properties:
        number_of_calls:
          type: integer
          example: 0
        number_of_notes:
          type: integer
          example: 1
        number_of_activities:
          type: integer
          example: 0
        number_of_reminders:
          type: integer
          example: 0
        number_of_tasks:
          type: integer
          example: 0
        number_of_gifts:
          type: integer
          example: 0
        number_of_debts:
          type: integer
          example: 0
    Gender:
      type: object
      properties:
        id:
          type: integer
          example: 1
        object:
          type: string
          example: gender
        name:
          type: string
          example: Man
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Tag:
      type: object
      properties:
        id:
          type: integer
          example: 18
        object:
          type: string
          example: tag
        name:
          type: string
          example: EdgeMonsters
        name_slug:
          type: string
          example: edgemonsters
        account:
          $ref: '#/components/schemas/Account'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Account:
      type: object
      properties:
        id:
          type: integer
          example: 5
    ContactUpdate:
      type: object
      required:
        - is_birthdate_known
        - is_deceased
        - is_deceased_date_known
        - is_partial
        - birthdate_is_age_based
        - deceased_date_is_age_based
        - deceased_date_is_year_unknown
      properties:
        first_name:
          type: string
          example: Henri
          description: Contact's first name
        last_name:
          type: string
          example: Troyat
          description: Contact's last name
        nickname:
          type: string
          example: Rambo
          description: Contact's nickname
        gender_id:
          type: integer
          nullable: true
          example: 1
          description: Gender identifier (1=male, 2=female, etc.)
        gender:
          type: string
          nullable: true
          example: male
          description: Gender as string
        birthdate_day:
          type: integer
          nullable: true
          example: null
          minimum: 1
          maximum: 31
          description: Day component of birthdate (1-31)
        birthdate_month:
          type: integer
          nullable: true
          example: null
          minimum: 1
          maximum: 12
          description: Month component of birthdate (1-12)
        birthdate_year:
          type: integer
          nullable: true
          example: null
          description: Year component of birthdate
        birthdate_is_age_based:
          type: boolean
          example: true
          description: Whether birthdate is age-based rather than exact date
        is_birthdate_known:
          type: boolean
          example: false
          description: Required field indicating if birthdate is known
        birthdate_age:
          type: integer
          nullable: true
          example: 29
          description: Age if birthdate_is_age_based is true
        is_partial:
          type: boolean
          example: false
          description: Required field indicating if this is a partial contact
        is_deceased:
          type: boolean
          example: true
          description: Required field indicating if contact is deceased
        deceased_date:
          type: string
          nullable: true
          example: null
          description: Deceased date if known
        deceased_date_is_age_based:
          type: boolean
          example: true
          description: Whether deceased date is age-based
        deceased_date_is_year_unknown:
          type: boolean
          example: false
          description: Whether deceased date year is unknown
        deceased_date_age:
          type: integer
          nullable: true
          example: 98
          description: Age at death if deceased_date_is_age_based is true
        is_deceased_date_known:
          type: boolean
          example: false
          description: Required field indicating if deceased date is known
        company:
          type: string
          nullable: true
          example: Acme Corp
          description: Company name
        job_title:
          type: string
          nullable: true
          example: Software Engineer
          description: Job title
        notes:
          type: string
          nullable: true
          example: Met at conference
          description: Notes about the contact
        description:
          type: string
          nullable: true
          example: Long-time friend from college
          description: Brief description of the contact
        is_starred:
          type: boolean
          example: false
          description: Whether contact is starred
    Activity:
      type: object
      properties:
        id:
          type: integer
          example: 1
        activity_type_id:
          type: integer
          example: 1
        summary:
          type: string
          example: Coffee meeting
        description:
          type: string
          example: Discussed project progress
        happened_at:
          type: string
          format: date-time
        contacts:
          type: array
          items:
            type: integer
          example:
            - 1
            - 2
    Gift:
      type: object
      properties:
        id:
          type: integer
          example: 1
        contact_id:
          type: integer
          nullable: true
          description: 'Contact ID. Note: Not returned in GET responses, only required when creating gifts'
          example: 1
        name:
          type: string
          example: LEGO Set
        comment:
          type: string
          nullable: true
          example: Birthday gift idea
        status:
          type: string
          enum:
            - idea
            - offered
            - received
          description: Gift status. Replaces deprecated is_an_idea and has_been_offered fields
          example: idea
        url:
          type: string
          format: uri
          nullable: true
          example: https://www.lego.com
        value:
          type: string
          nullable: true
          description: Gift value as string. API returns numeric values as strings (e.g., '150.00')
          example: '150.00'
        created_at:
          type: string
          format: date-time
          example: 2024-01-15T10:30:00Z
        updated_at:
          type: string
          format: date-time
          example: 2024-01-15T10:30:00Z
    Note:
      type: object
      properties:
        id:
          type: integer
          example: 1
        contact_id:
          type: integer
          example: 1
        body:
          type: string
          example: Important note about the contact
        is_favorited:
          type: boolean
          example: false
    Task:
      type: object
      properties:
        id:
          type: integer
          example: 1
        contact_id:
          type: integer
          example: 1
        title:
          type: string
          example: Call about project
        description:
          type: string
          example: Discuss timeline and deliverables
        completed:
          type: boolean
          example: false
        created_at:
          type: string
          format: date-time
          example: 2024-01-15T10:30:00Z
        updated_at:
          type: string
          format: date-time
          example: 2024-01-15T10:30:00Z
    Conversation:
      type: object
      description: |
        A conversation record with a contact. Conversations use a two-step creation process:
        1. Create the conversation container (POST /conversations)
        2. Add messages to it (POST /conversations/{id}/messages)

        Messages are returned embedded in the conversation response when fetching conversations.
      properties:
        id:
          type: integer
          example: 17
        contact_id:
          type: integer
          example: 123
        happened_at:
          type: string
          format: date-time
          description: When the conversation occurred
          example: 2025-01-15T14:30:00Z
        contact_field_type_id:
          type: integer
          description: The type of conversation (e.g., Phone, Email, In person). References ContactFieldType.
          example: 1
        contact_field_type:
          $ref: '#/components/schemas/ContactFieldType'
        content:
          type: string
          nullable: true
          description: Legacy field - use messages array instead
        messages:
          type: array
          description: Messages in this conversation thread
          items:
            $ref: '#/components/schemas/ConversationMessage'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ConversationMessage:
      type: object
      description: |
        A single message within a conversation thread.

        **IMPORTANT**: When creating/updating messages, use snake_case field names:
        - `written_by_me` (boolean) - NOT `written` or `writtenByMe`
        - `written_at` (date string: "yyyy-MM-dd")
        - `content` (string)
      properties:
        id:
          type: integer
          example: 16
        written_at:
          type: string
          format: date
          description: When this message was written (date only, format yyyy-MM-dd)
          example: 2025-01-15
        written_by_me:
          type: boolean
          description: True if the user wrote this message, false if the contact wrote it
          example: true
        content:
          type: string
          description: The message content
          example: Hi, how are you doing?
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ConversationMessageCreate:
      type: object
      description: |
        Payload for creating or updating a conversation message.

        **CRITICAL**: Field names must be snake_case:
        - ✅ `written_by_me` - Correct
        - ❌ `written` - Will be ignored
        - ❌ `writtenByMe` - Will be ignored
      required:
        - contact_id
        - written_at
        - written_by_me
        - content
      properties:
        contact_id:
          type: integer
          description: The contact ID this conversation is with
          example: 123
        written_at:
          type: string
          format: date
          description: Date when message was written (format yyyy-MM-dd)
          example: 2025-01-15
        written_by_me:
          type: boolean
          description: True if user wrote this, false if contact wrote it
          example: true
        content:
          type: string
          description: The message content
          example: Hi, how are you doing?
    ContactFieldType:
      type: object
      description: Types used to categorize conversations (e.g., Phone, Email, In person)
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Phone
        protocol:
          type: string
          nullable: true
          example: 'tel:'
        delible:
          type: boolean
          example: false
        type:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ApiResponse:
      type: object
      properties:
        data:
          type: object
          description: Response data (varies by endpoint)
        meta:
          type: object
          properties:
            total:
              type: integer
            current_page:
              type: integer
            per_page:
              type: integer
    ErrorResponse:
      type: object
      description: Generic error response from the Monica API
      properties:
        error:
          type: object
          properties:
            message:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
              description: Error message(s) describing what went wrong
            error_code:
              type: integer
              description: Monica-specific error code
            code:
              type: integer
              description: HTTP status code (deprecated, use error_code)
      example:
        error:
          message: The resource was not found.
          error_code: 31
    BadRequestError:
      type: object
      description: Error returned when the request is malformed or contains invalid data
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              example: The request could not be understood by the server.
            error_code:
              type: integer
              example: 30
      example:
        error:
          message: The request could not be understood by the server.
          error_code: 30
    UnauthorizedError:
      type: object
      description: Error returned when authentication is missing or invalid
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              example: Unauthenticated.
            error_code:
              type: integer
              example: 40
      example:
        error:
          message: Unauthenticated.
          error_code: 40
    NotFoundError:
      type: object
      description: Error returned when the requested resource does not exist
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              example: The resource was not found.
            error_code:
              type: integer
              example: 31
      example:
        error:
          message: The resource was not found.
          error_code: 31
    ValidationError:
      type: object
      description: Error returned when request validation fails (e.g., missing required fields)
      properties:
        error:
          type: object
          properties:
            message:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
              description: Validation error message(s)
              example:
                - The first_name field is required.
                - The contact_id field is required.
            error_code:
              type: integer
              example: 32
      example:
        error:
          message:
            - The first_name field is required.
          error_code: 32
    InternalServerError:
      type: object
      description: Error returned when an unexpected server error occurs
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              example: An internal server error occurred.
            error_code:
              type: integer
              example: 50
      example:
        error:
          message: An internal server error occurred.
          error_code: 50
    ContactListApiResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
        meta:
          type: object
          properties:
            total:
              type: integer
            current_page:
              type: integer
            per_page:
              type: integer
        links:
          type: object
          properties:
            first:
              type: string
              nullable: true
            last:
              type: string
              nullable: true
            prev:
              type: string
              nullable: true
            next:
              type: string
              nullable: true
    ActivityListApiResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
        meta:
          type: object
        links:
          type: object
    GiftListApiResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
        meta:
          type: object
        links:
          type: object
    GenderListApiResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Gender'
        meta:
          type: object
        links:
          type: object
    TagListApiResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
        meta:
          type: object
        links:
          type: object
    ListApiResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
        meta:
          type: object
          properties:
            total:
              type: integer
            current_page:
              type: integer
            per_page:
              type: integer
        links:
          type: object
          properties:
            first:
              type: string
              nullable: true
            last:
              type: string
              nullable: true
            prev:
              type: string
              nullable: true
            next:
              type: string
              nullable: true
    ContactApiResponse:
      type: object
      properties:
        data:
          type: object
paths:
  /contacts:
    get:
      summary: List all contacts
      tags:
        - Contacts
      parameters:
        - name: query
          in: query
          description: Search query for filtering contacts
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: List of contacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactListApiResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: listContacts
      description: List all contacts.
    post:
      summary: Create a new contact
      tags:
        - Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - is_birthdate_known
                - is_deceased
                - is_deceased_date_known
              properties:
                first_name:
                  type: string
                  description: Contact's first name
                last_name:
                  type: string
                  description: Contact's last name
                gender_id:
                  type: integer
                  description: Gender ID (1=Man, 2=Woman, 3=Other)
                is_partial:
                  type: boolean
                  description: Whether this is a partial contact (limited information)
                  default: false
                is_birthdate_known:
                  type: boolean
                  description: Whether the birthdate is known (REQUIRED)
                is_deceased:
                  type: boolean
                  description: Whether the contact is deceased (REQUIRED)
                is_deceased_date_known:
                  type: boolean
                  description: Whether the deceased date is known (REQUIRED)
                nickname:
                  type: string
                  description: Contact's nickname
                job:
                  type: string
                  description: Contact's job title
                company:
                  type: string
                  description: Contact's company name
      responses:
        '201':
          description: Contact created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactApiResponse'
        '400':
          description: Bad request - Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Validation error - Missing or invalid fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: createContact
      description: Create a new contact.
  /contacts/{id}:
    get:
      summary: Get a specific contact
      tags:
        - Contacts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Contact details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactApiResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Contact not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: getContact
      description: Get a specific contact.
    put:
      summary: Update a contact
      description: |
        Update an existing contact. The Monica API requires a complex birthdate structure with 
        separate day/month/year fields instead of a single birthdate string. Required fields include:
        - is_birthdate_known, is_deceased, is_deceased_date_known (always required)
        - is_partial, birthdate_is_age_based, deceased_date_is_age_based, deceased_date_is_year_unknown
        - When updating contacts with birthdates: birthdate_day, birthdate_month, birthdate_year must all be provided
      tags:
        - Contacts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdate'
      responses:
        '200':
          description: Contact updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactApiResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Contact not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '422':
          description: Validation error - missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: updateContact
    delete:
      summary: Delete a contact
      tags:
        - Contacts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Contact deleted successfully
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Contact not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: deleteContact
      description: Delete a contact.
  /contacts/{id}/work:
    put:
      summary: Update contact career information
      description: Update the career/job information for a contact.
      tags:
        - Contacts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                job:
                  type: string
                  maxLength: 255
                  nullable: true
                  description: Job title
                  example: Software Engineer
                company:
                  type: string
                  maxLength: 255
                  nullable: true
                  description: Company name
                  example: Acme Corporation
      responses:
        '200':
          description: Career information updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactApiResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: updateContactWork
  /contacts/{id}/food:
    put:
      summary: Update contact food preferences
      description: Update the food preferences and dietary restrictions for a contact.
      tags:
        - Contacts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                food_preferences:
                  type: string
                  maxLength: 65535
                  nullable: true
                  description: Food preferences, dietary restrictions, allergies, etc.
                  example: Vegetarian. Allergic to peanuts.
      responses:
        '200':
          description: Food preferences updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactApiResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: updateContactFood
  /contacts/{id}/introduction:
    put:
      summary: Update how you met this contact
      description: |
        Update the "how we met" information for a contact. This includes
        when and where you first met, and optionally a reference to another
        contact who introduced you.
      tags:
        - Contacts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - is_first_met_date_known
              properties:
                information:
                  type: string
                  maxLength: 65535
                  nullable: true
                  description: Description of how you met this contact
                  example: Met at the JavaScript conference in 2023
                first_met_through_contact_id:
                  type: integer
                  nullable: true
                  description: ID of the contact who introduced you
                  example: 456
                first_met_date:
                  type: string
                  format: date
                  nullable: true
                  description: Date when you first met (YYYY-MM-DD)
                  example: 2023-06-15
                is_first_met_date_known:
                  type: boolean
                  nullable: true
                  description: Whether the first met date is known
                  example: true
      responses:
        '200':
          description: Introduction information updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactApiResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: updateContactIntroduction
  /contacts/{id}/avatar:
    put:
      summary: Update contact avatar
      description: |
        Update the avatar for a contact. You can set the avatar source type
        (default, gravatar, adorable, or photo) and optionally specify a photo ID.
      tags:
        - Contacts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - source
              properties:
                source:
                  type: string
                  enum:
                    - default
                    - adorable
                    - gravatar
                    - photo
                  description: |
                    Avatar source type:
                    - default: Use default colored avatar with initials
                    - adorable: Use Adorable Avatars service
                    - gravatar: Use Gravatar service based on email
                    - photo: Use a photo from the contact's photos
                  example: default
                photo_id:
                  type: integer
                  nullable: true
                  description: ID of the photo to use as avatar (required when source is "photo")
                  example: 123
      responses:
        '200':
          description: Avatar updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactApiResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: updateContactAvatar
  /contacts/{id}/logs:
    get:
      summary: Get contact audit logs
      tags:
        - Contacts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Contact audit logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: listContactLogs
      description: Get contact audit logs.
  /activities:
    get:
      summary: List all activities
      tags:
        - Activities
      responses:
        '200':
          description: List of activities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityListApiResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: listActivities
      description: List all activities.
    post:
      summary: Create a new activity
      tags:
        - Activities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - happened_at
                - contacts
              properties:
                activity_type_id:
                  type: integer
                  description: ID of the activity type (optional)
                summary:
                  type: string
                  description: Brief summary of the activity
                description:
                  type: string
                  description: Detailed description of the activity
                happened_at:
                  type: string
                  format: date
                  description: When the activity occurred (Y-m-d format, REQUIRED)
                  example: "2024-01-15"
                contacts:
                  type: array
                  description: Array of contact IDs (must have at least one, REQUIRED)
                  minItems: 1
                  items:
                    type: integer
      responses:
        '201':
          description: Activity created successfully
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Validation error - Missing or invalid fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: createActivity
      description: Create a new activity.
  /activities/{id}:
    get:
      summary: Get a specific activity
      tags:
        - Activities
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Activity details
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: getActivity
      description: Get a specific activity.
    put:
      summary: Update an activity
      tags:
        - Activities
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Activity'
      responses:
        '200':
          description: Activity updated successfully
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '422':
          description: Validation error - Missing or invalid fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: updateActivity
      description: Update an activity.
    delete:
      summary: Delete an activity
      tags:
        - Activities
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Activity deleted successfully
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: deleteActivity
      description: Delete an activity.
  /gifts:
    get:
      summary: List all gifts
      tags:
        - Gifts
      responses:
        '200':
          description: List of gifts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GiftListApiResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: listGifts
      description: List all gifts.
    post:
      summary: Create a new gift
      tags:
        - Gifts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contact_id
                - name
              properties:
                contact_id:
                  type: integer
                name:
                  type: string
                comment:
                  type: string
                is_an_idea:
                  type: boolean
                  default: true
                url:
                  type: string
                  format: uri
                value:
                  type: number
                  format: float
      responses:
        '201':
          description: Gift created successfully
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Validation error - Missing or invalid fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: createGift
      description: Create a new gift.
  /gifts/{id}:
    get:
      summary: Get a specific gift
      tags:
        - Gifts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Gift details
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: getGift
      description: Get a specific gift.
    put:
      summary: Update a gift
      tags:
        - Gifts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Gift'
      responses:
        '200':
          description: Gift updated successfully
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '422':
          description: Validation error - Missing or invalid fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: updateGift
      description: Update a gift.
    delete:
      summary: Delete a gift
      tags:
        - Gifts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Gift deleted successfully
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: deleteGift
      description: Delete a gift.
  /gifts/{giftId}/photo/{photoId}:
    put:
      summary: Associate a photo with a gift
      description: |
        Link a photo to a gift. This is useful for attaching an image of the gift,
        such as a product photo or a picture of the recipient with the gift.
      tags:
        - Gifts
        - Photos
      parameters:
        - name: giftId
          in: path
          required: true
          description: ID of the gift
          schema:
            type: integer
        - name: photoId
          in: path
          required: true
          description: ID of the photo to associate with the gift
          schema:
            type: integer
      responses:
        '200':
          description: Photo associated with gift successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Gift'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Gift or photo not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error - Missing or invalid fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: setGiftPhoto
  /genders:
    get:
      summary: List all genders
      tags:
        - Genders
      responses:
        '200':
          description: List of genders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenderListApiResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: listGenders
      description: List all genders.
    post:
      summary: Create a new gender
      description: Create a custom gender definition.
      tags:
        - Genders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - type
              properties:
                name:
                  type: string
                  maxLength: 255
                  description: Display name of the gender
                  example: Non-binary
                type:
                  type: string
                  enum:
                    - M
                    - F
                    - O
                    - U
                    - N
                  description: 'Gender type code: M=Male, F=Female, O=Other, U=Unknown, N=Not specified'
                  example: O
      responses:
        '201':
          description: Gender created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Gender'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: createGender
  /genders/{id}:
    get:
      summary: Get a specific gender
      tags:
        - Genders
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Gender details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Gender'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: getGender
      description: Get a specific gender.
    put:
      summary: Update a gender
      tags:
        - Genders
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - type
              properties:
                name:
                  type: string
                  maxLength: 255
                type:
                  type: string
                  enum:
                    - M
                    - F
                    - O
                    - U
                    - N
      responses:
        '200':
          description: Gender updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Gender'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '422':
          description: Validation error - Missing or invalid fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: updateGender
      description: Update a gender.
    delete:
      summary: Delete a gender
      tags:
        - Genders
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Gender deleted successfully
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: deleteGender
      description: Delete a gender.
  /tags:
    get:
      summary: List all tags
      tags:
        - Tags
      responses:
        '200':
          description: List of tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagListApiResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: listTags
      description: List all tags.
    post:
      summary: Create a new tag
      tags:
        - Tags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
      responses:
        '201':
          description: Tag created successfully
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Validation error - Missing or invalid fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: createTag
      description: Create a new tag.
  /tags/{id}:
    get:
      summary: Get a specific tag
      tags:
        - Tags
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Tag details
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: getTag
      description: Get a specific tag.
    put:
      summary: Update a tag
      tags:
        - Tags
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tag'
      responses:
        '200':
          description: Tag updated successfully
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '422':
          description: Validation error - Missing or invalid fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: updateTag
      description: Update a tag.
    delete:
      summary: Delete a tag
      tags:
        - Tags
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Tag deleted successfully
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: deleteTag
      description: Delete a tag.
  /tags/{id}/contacts:
    get:
      summary: List contacts by tag
      tags:
        - Tags
        - Contacts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Contacts with this tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactListApiResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: listTagContacts
      description: List contacts by tag.
  /contacts/{contactId}/setTags:
    post:
      summary: Set tags on a contact
      description: Replace all tags on a contact with the specified tags.
      tags:
        - Tags
        - Contacts
      parameters:
        - name: contactId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tags
              properties:
                tags:
                  type: array
                  items:
                    type: string
                  description: Array of tag names to set on the contact
                  example:
                    - family
                    - important
      responses:
        '200':
          description: Tags set successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Contact'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: setContactTags
  /contacts/{contactId}/unsetTags:
    post:
      summary: Remove tags from a contact
      description: Remove specified tags from a contact.
      tags:
        - Tags
        - Contacts
      parameters:
        - name: contactId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tags
              properties:
                tags:
                  type: array
                  items:
                    type: string
                  description: Array of tag names to remove from the contact
                  example:
                    - old-tag
      responses:
        '200':
          description: Tags removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Contact'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: unsetContactTags
  /contacts/{contactId}/unsetTag:
    post:
      summary: Remove specific tags from a contact by ID
      description: Remove one or more specific tags from a contact by providing tag IDs. Unlike unsetTags which removes all tags, this endpoint removes only the specified tags.
      tags:
        - Tags
        - Contacts
      parameters:
        - name: contactId
          in: path
          required: true
          schema:
            type: integer
          description: The ID of the contact to remove tags from
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tags
              properties:
                tags:
                  type: array
                  items:
                    type: integer
                  description: Array of tag IDs to remove from the contact
                  example:
                    - 1
                    - 2
                    - 3
      responses:
        '200':
          description: Tags removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Contact'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: unsetContactTag
      security:
        - bearerAuth: []
  /notes:
    get:
      summary: List all notes
      tags:
        - Notes
      responses:
        '200':
          description: List of notes
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: listNotes
      description: List all notes.
    post:
      summary: Create a new note
      tags:
        - Notes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contact_id
                - body
              properties:
                contact_id:
                  type: integer
                body:
                  type: string
                is_favorited:
                  type: boolean
                  default: false
      responses:
        '201':
          description: Note created successfully
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Validation error - Missing or invalid fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: createNote
      description: Create a new note.
  /notes/{id}:
    get:
      summary: Get a specific note
      tags:
        - Notes
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Note details
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      operationId: getNote
      description: Get a specific note.
    put:
      summary: Update a note
      tags:
        - Notes
      parameters:
        - name: id
          in: path
          required: true
          schema:
[...]
